{% extends 'main.html' %}

{% load crispy_forms_tags %}
{% block title %}
Register user
{% endblock title %}


{% block content %}

<body>
    <div class="container mt-5">
        <h2>Register</h2>
        {% if messages %}
        <div>
            {% for message in messages %}
            <div class="alert alert-{{ message.tags }}">{{ message }}</div>
            {% endfor %}
        </div>
        {% endif %}
        <form method="post">
            {% csrf_token %}
            {{ form|crispy}}
            <button type="submit" class="btn btn-primary">Register</button>
        </form>
        <p class="mt-3">Already have an account? <a href="{% url 'accounts:login' %}">Login here</a>.</p>
    </div>
    {% endblock content %}